In [1]:
import pandas as pd

In [12]:
mylist={"Name":["Ranhul","Manu","Revathy","Tom","Tinu","Mathew","Irfan"],"Age":[12,23,21,25,15,22,20]}

In [14]:
df=pd.DataFrame(mylist)
print(df)
df.describe()
df.head(n=2)

      Name  Age
0   Ranhul   12
1     Manu   23
2  Revathy   21
3      Tom   25
4     Tinu   15
5   Mathew   22
6    Irfan   20

     Name  Age
0  Ranhul   12
1    Manu   23

In [16]:
df.tail(n=5)

      Name  Age
2  Revathy   21
3      Tom   25
4     Tinu   15
5   Mathew   22
6    Irfan   20